.button {
  display: block;
  width: 100%;
  padding: 14px 0;

  border: 0;

  background-color: $color-red;
  color: $color-white;

  cursor: pointer;

  font-family: "Cinzel", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;

  transition: background-color 0.3s;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }
}
