.top-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;

    @include onTablet {
      gap: 60px;
    }
  }
}
