@import "./utils/variables";
@import "./blocks/main";
@import "./blocks/footer";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  position: relative;
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: 120px;
  background-color: aqua;
  color: red;
}
